
@{
    ViewBag.Title = "Index";


}

<h2 class="title">Početna stranica</h2>

<div>
    <a asp-controller="Home" asp-action="TestDB" class="mtd-1 btn btn-lg btn-success">Inicijalno punjenje baze</a>
</div>

<div>
    <a asp-controller="OdrzanaNastava" asp-action="Index" class="mtd-1 btn-lg btn btn-success">Održana nastava</a>
</div>

